# Ignorar arquivos binários gerados
*.o
*.out
*.exe
*.a
*.so
*.d

# Ignorar arquivos de configuração do editor (exemplo para VSCode)
.vscode/
tokens.tx

.my_history

tests2.txt
tasks.txt
tests.txt
norminette-env/
norminette/
src/tests/
gitignore
program
minishell
minishell_tester/
norminette_env/
.gitignore
ast_print.txt
print_ast.c
print_ast.txt
utils
old_tree.txt

# Built-ins exec
echo
pwd