# Ignorar arquivos binários gerados
*.o
*.out
*.exe
*.a
*.so
*.d

# Ignorar arquivos de configuração do editor (exemplo para VSCode)
.vscode/
tokens.tx

.my_history

program
minishell
norminette_env/
.gitignore
ast_print.txt